FLASK_ENV=development
SECRET_KEY=change-this-in-production
MONGO_URI=mongodb://localhost:27017/internmatch
JWT_SECRET=change-this-in-production
CORS_ORIGINS=http://localhost:5173
TAVILY_API_KEY= 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
TAVILY_API_URL=https://api.tavily.com/search
